@import url("reset.css");
@import url("variables.css");
@import url("common.css");

#cnt.login_area{
  margin-top:7rem;
  display:flex;
  justify-content: center;
  align-items: center;
  min-height:auto;
}


.inp_box input[type="password"]{
  background:var(--color-secondary100);
  padding-right:54px;
}
.inp_box .password_toggle_btn{
  position:absolute;
  bottom:0;
  right:0;
  display:block;
  width:5.4rem;
  height:5.6rem;
  background:url(../img/btn_visibility_off_24px.svg) no-repeat center;
  color:transparent;
}
.inp_box .password_toggle_btn{
  background-image:url(../img/btn_visibility_on_24px.svg);
}



.login_area .login_wrap{
  width:64rem;
}

.logo_box{
  display:flex;
  margin-bottom:3rem;
  justify-content:center;
}
.logo_box .logo{
  width:39.6rem;
  height:13.2rem;
  background:url(../img/logo.svg) no-repeat center top 0 / cover;
}


.login_area .easy_login_box{
  display:flex;
  margin-top:3rem;
  height:7.4rem;
  padding:0 1.5rem;
  background: #E6F2FF;
  border-radius: 0.8rem;
  align-items:center;
  justify-content: space-between;
  color: var(--color-secondary800);
  font-weight: 500;
  
}

.login_area .sns_login_box{
  display:flex;
  gap:1rem;
}
.login_area .sns_login_box>a{
  display:block;
  width:4.2rem;
  height:4.2rem;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center center;
}
.login_area .sns_login_box .google_login{
  background-image:url(../img/ic_google.svg);
  background-size: 4.4rem 4.4rem;
}
.sns_login_box .kakao_login{
  background-image:url(../img/ic_kakao.svg)
}

.login_area .signup_desc{
  display:flex;
  margin-top:3rem;
  gap:1rem;
  font-size:1.4rem;
  font-weight:500;
  color:var(--color-secondary800);
  justify-content: center;
  align-items: center;
}
.login_area .signup_desc .signup_link{
  color:var(--color-primary100);
  font-size:1.4rem;
  font-weight:500;
}

.login_area .signup_desc .signup_link:hover,
.login_area .signup_desc .signup_link:focus{
  text-decoration:underline;
}



/* 모바일 영역 */
@media screen and (max-width: 767px){  
  html {
    font-size: 50%; /* 1rem = 8px */
  }
  #cnt.login_area{
    padding:0 16px;
  }
  .login_area .login_wrap{
    max-width:400px;
  }
}