@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Pretendard";
}

a:link {
  text-decoration: none;
  color: #e5e7eb;
}
a:visited,
a:active {
  color: #e5e7eb;
}
