@charset "utf-8";

footer {
 height: 160px;
 background-color: #111827;
 color: #fff;
 display: flex;
 justify-content: center;
}

.footerinner {
 display: grid;
 grid-template-columns: auto 1fr auto;
 justify-items: center;
 width: 1120px;
 margin-top: 20px;
}

footer ul {
 display: flex;
 align-items: center;
 gap: 10px;
 height: 40px;
}