@charset "utf-8";

header {
 display: flex; 
 width: 100%; 
 height: 70px; 
 background-color: #fff; 
 border-bottom: 1px #DFDFDF;
}

.logo {
 height: 48px; 
 width: 148px; 
 margin-top: 10px; 
 background-color: #fff;
}

.login {
 width: 128px;
 height: 48px;
 border-radius: 8px;
 background-color: #3692ff;
 color: #fff;
 text-align: center;
 line-height: 48px;
 margin-top: 10px;
 font-weight: 600;
}

@media (max-width: 1919px) {
 header {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  padding: 0;
 }

 #HDinner {
  margin-left: 200px;
 }

 .login {
  margin-right: 200px;
 }
}