@charset "utf-8";

header {
  width: 1120px;
  height: 70px;
  background-color: #fff;
  border-bottom: 1px solid #dfdfdf;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: sticky;
  top: 0;
}

.mo_logo {
  display: none;
}

.login_button {
  width: 128px;
  height: 48px;
  line-height: 48px;
  background-color: #3692ff;
  border: 0;
  border-radius: 8px;
  color: #f3f4f6;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
}
.login_button:hover,
.login_button:focus {
  background-color: #1967d6;
}
.login_button:active {
  background-color: #1251aa;
}

@media (max-width: 1920px) {
  header {
    width: 100%;
    padding: 0 200px;
  }
}

@media (min-width: 321px) and (max-width: 1200px) {
  header {
    width: 100%;
    padding: 0 30px;
  }
}

@media (max-width: 320px) {
  header {
    width: 320px;
    padding: 0 20px;
  }
  .pc_logo {
    display: none;
  }
  .mo_logo {
    display: block;
  }
}
