:root {
  --secondary-50: #f9fafb;
  --secondary-200: #e5e7eb;
  --secondary-400: #9ca3af;
  --secondary-700: #374151;
  --secondary-800: #1F2937;
  --secondary-900: #111827;
  --cool-gray-100: #f3f4f6;
  --brand-blue: #3692ff;
  --banner: #cfe5ff;
  --label: #007bff;
}
