.login {
  width: 640px;
  height: 618px;
}
#logo img {
  width: 396px;
  height: 132px;
}

.input-text {
  padding-bottom: 24px;
}
.input-text label {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
}
.input-text input {
  background-color: #f3f4f6;
  border-radius: 12px;
  border-style: none;
  width: 100%;
  height: 56px;
}
#login-button {
  border-radius: 40px;
  font-size: 20px;
  border-style: none;
  background-color: #3692ff;
  color: #ffffff;
}
