@import "../variable.css";

.all-products {
  display: grid;
  grid-template-columns: repeat(5, 220px); /* 5열 */
  gap: 24px;
  justify-content: center;
}

.all-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.all-title-right-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.all-title-right-container-left {
  display: flex;
  align-items: center;
  width: 325px;
  height: 42px;
  border: none;
  border-radius: 8px;
  padding-left: 16px;
  gap: 4px;
  color: var(--gray-400);
  background-color: var(--gray-100);
}

.all-title-right-container-left img {
  width: 24px;
  height: 24px;
}

.all-title-right-container-left input {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
  background-color: transparent;
  border: none;
  outline: none;
}

.all-title-right-container-middle-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 133px;
  height: 42px;
  border: none;
  border-radius: 8px;
  background-color: var(--blue);
  color: var(--gray-100);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

.all-title-right-container-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.all-title-right-container-right img {
  width: 24px;
  height: 24px;
}

.all-title-right-container-right-select {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 42px;
  padding: 0 20px;
  border: 1px solid var(--gray-200);
  border-radius: 8px;
  background-color: #ffffff;
  background-image: url("../assets/arrow_down.png");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 24px 24px;
  color: var(--gray-800);
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.all-title-text {
  font-size: 20px;
  font-weight: 700;
}

.all-title-right-container-right-select option {
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-800);
  background-color: #ffffff;
}

@media (max-width: 768px) {
  .all-products {
    grid-template-columns: repeat(3, 1fr); /* 3열 - 화면에 맞게 자동 조절 */
    gap: 16px;
  }

  .all-title-right-container-left {
    width: 242px;
  }
}

@media (max-width: 480px) {
  .all-products {
    grid-template-columns: repeat(2, 1fr); /* 2열 */
    gap: 16px;
  }

  .all-title-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
  }

  .all-title {
    display: block;
    width: 100%;
  }

  .all-title-right-container {
    width: 100%;
    position: relative;
  }

  .all-title-right-container-left {
    width: 80%;
  }

  .all-title-right-container-left input {
    width: 100%;
  }

  .all-title-right-container-middle {
    position: absolute;
    top: -50px;
    right: 0;
    white-space: nowrap;
  }

  .all-title-right-container-right {
    position: absolute;
    right: 8px;
  }

  .all-title-right-container-right-select {
    width: 42px;
    height: 42px;
    padding: 0;
    border: 1px solid var(--gray-200);
    border-radius: 8px;
    background-color: #ffffff;
    background-image: url("../assets/sort.png");
    background-position: center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    color: transparent;
    cursor: pointer;
  }

  .all-title-right-container-right-select option {
    color: var(--gray-800);
    font-size: 16px;
  }
}
