.flexBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 16px;
}

.mainContainer {
  width: 100%;
  margin: 0 auto;
  max-width: 618px;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;
}

.logoImg {
  width: 104px;
  height: 104px;
}

.logoTextImg {
  width: 266px;
  height: 90px;
}

.inputContainer {
  display: flex;
  gap: 16px;
  height: 98px;
  flex-direction: column;
  margin-bottom: 24px;
}

.inputContainer label {
  font-family: Pretendard, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: var(--secondary-800);
}

.inputContainer input {
  width: 100%;
  height: 56px;
  line-height: 26px;
  background-color: var(--cool-gray-100);
  border: none;
  border-radius: 12px;
  max-width: 400px;
  text-indent: 24px;
}

.inputContainer input::placeholder {
  font-family: Pretendard, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.passwordWrapper {
  width: 100%;
  height: 56px;
  max-width: 400px;
  position: relative;
}

.passwordWrapper input {
  width: 100%;
  height: 100%;
  line-height: 26px;
  background-color: var(--cool-gray-100);
  border: none;
  border-radius: 12px;
  text-indent: 24px;
}

.togglePassword {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.togglePassword img {
  width: 20px;
  height: 20px;
}

.loginButton {
  width: 100%;
  height: 56px;
  font-family: Pretendard, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: var(--cool-gray-100);
  background-color: var(--brand-blue);
  border: none;
  border-radius: 40px;
  cursor: pointer;
  margin-bottom: 24px;
  max-width: 400px;
}

.socialLoginContainer {
  gap: 10px;
  width: 640px;
  height: 74px;
  background-color: #E6F2FF;
  border-radius: 8px;
  margin-bottom: 24px;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
}

.socialLoginTitle {
  font-family: Pretendard, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: var(--secondary-800);
}

.socialLoginButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.socialLoginButton {
  width: 42px;
  height: 42px;
}

.signupContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.signupMessage {
  font-family: Pretendard, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: var(--secondary-800);
}

.signupButton {
  font-family: Pretendard, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: var(--brand-blue);
  text-decoration: underline;
}

@media (width <= 767px) {
  .mainContainer {
    max-width: 400px;
  }
}