* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Pretendard", sans-serif;
}

ol,
ul {
  list-style: none;
}

header {
  width: 100%;
  max-width: 1600px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  background-color: #3692ff;
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  background-color: #1967d6;
}

.button:active {
  background-color: #1251aa;
}

footer {
  background-color: #111827;
}
