#login {
  padding: 11px 43px;
  border-radius: 8px;
  font-size: 16px;
  line-height: 26px;
}

.banner {
  background-color: #cfe5ff;
  height: 540px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: 80% bottom;
  background-size: 40%;
}

#hero {
  background-image: url("/images/header-img.webp");
}

#visit {
  padding: 12px 124px;
  border-radius: 40px;
  font-size: 20px;
  line-height: 32px;
  margin-top: 32px;
}

.contents-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
  background-color: #fcfcfc;
  border-radius: 12px;
}

.wrapper.main-contents {
  margin: 138px auto;
}

.main-bg-contents-container {
  display: flex;
  flex-direction: column;
}

.title-contents {
  color: #3692ff;
  font-size: 18px;
  font-weight: 800;
}

.strong-contents {
  margin: 12px 0 24px 0;
  color: #374151;
  font-size: 40px;
  line-height: 1.4;
  font-weight: 700;
}

.description-contents {
  color: #374151;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  white-space: nowrap;
}

.main-contents-container {
  display: flex;
  flex-direction: column;
  padding-right: 24px;
}

.main-contents-container.left {
  text-align: right;
  padding: 0 0 0 24px;
}

#main-footer {
  background-image: url("/images/footer-img.webp");
}

.wrapper.footer {
  display: flex;
  align-items: start;
  justify-content: space-between;
  height: 160px;
  padding-top: 32px;
}

.footer-CI {
  color: #9ca3af;
  font-size: 16px;
  font-weight: 400;
}

.footer-link {
  display: flex;
  gap: 30px;
}

.footer-link a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 16px;
  font-weight: 400;
}

.footer-icon {
  display: flex;
  gap: 12px;
}
